.centro {
    margin: 0 auto;
    width: 200px;
    perspective: 1000px;
  }
  #botaocadastro {
    cursor: hand;

    background-image: radial-gradient(rgb(29, 0, 53), rgb(0, 9, 48));
    color: white;
    font-weight: 900;
    border: none;
    padding: 1em 3em;
    margin: 2em auto;
    display: block;  
  /*  transition: background .5s ease-in, transform .5s .25s ease-in-out;*/
    transition: background .05s ease-in, transform .05s .05s ease-in-out;
  }
  #botaocadastro:hover {
    background-image: radial-gradient(rgb(76, 0, 138), rgb(0, 24, 131));
  /*  transform: scale(1.2);*/
    transform: scale(1.009) ;
  }


  #btnav {
    cursor: hand;

    background-image: radial-gradient(rgb(29, 0, 53), rgb(0, 9, 48));
    color: white;
    border: none;


  /*  transition: background .5s ease-in, transform .5s .25s ease-in-out;*/
    transition: background .05s ease-in, transform .05s .05s ease-in-out;
  }
  #btnav:hover {
    background-image: radial-gradient(rgb(76, 0, 138), rgb(0, 24, 131));
  /*  transform: scale(1.2);*/
    transform: scale(1.012) ;
  }
